.ProductInfo-container {
    position: sticky;
    top: 24px;
    flex-shrink: 0;
    width: 320px;
    height: fit-content;
}

.ProductInfo-content {
    padding: 42px 24px 24px;
}

.ProductInfo-text {
    margin-top: 8px;
}
