.ResultItem-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 32px 14px 24px;
    cursor: pointer;
    transition: borderColor 0.15s ease-in-out;
}

.ResultItem-card:hover {
    border-color: var(--secondary-text-color);
}

.ResultItem-card.ResultItem-active {
    border-color: var(--primary-color);
}
