.Search-input-container {
    position: relative;
    width: 100%;
}

.Search-icon {
    position: absolute;
    top: 6px;
    left: 6px
}

.Search-input {
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    padding: 8px 8px 8px 40px;
    border-radius: 2px;
    width: 100%;
}
